:root{
    --main-c:#fdd72d;
    --border-r:.5rem;
  }
/* Reset de estilos para mejorar la consistencia entre navegadores */
* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header, nav, main, footer, section {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Ajusta según sea necesario */
    margin-top: 5px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branding {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.branding h1 {
    margin-right: 10px; /* Espaciado entre el texto y la imagen */
    font-size: 60px;
}

.branding img {
    max-height: 60px;
}

.main-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    margin-top: 5px;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
} 

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
    color: #ffcc00;
}

.section {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de tamaño igual */
    gap: 20px; /* Espacio entre las columnas */
    align-items: center;
    margin-right: 125px;
    margin-left: 125px;
}
.section p {
    order: 1; /* Establece el orden del párrafo */
    color: green;
}

main {
    display: flex;
    flex-wrap: wrap;
}
/** **/
.wrap-cta{
    padding: 1.5rem 0;
}
/* LLAMADO A LA ACCION */
.cta-a{
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}
.cta-a:hover{
    color: #100707;
    font-weight: bold;
    background-color: green;
}
h1{
    font-size: 2.3rem;
}
h2{
    font-size: 2.0rem;
}
h3{
    font-size: 1.8rem;
}
/** Seccion del Banner **/
.hero-section{
    max-height: 90vh;
    background-color:green;
    background-blend-mode:multiply;
    display: flex;
    align-items: center;
}
.banner{
    max-width: 50%;
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;
}
/** Logo Section **/ 
.section h2{
    padding: 1rem 0;
}

.wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/** Seccion del Banner **/
.hero-section{
    max-height: 90vh;
    background-color: white;
    display: flex;
    align-items: center;
}
.wrap-hero-section{
    color: green;
    padding: 2%;
}

/** Logo Section **/ 
.section h2{
    padding: 1rem;
}

.wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
  /*Acordeon*/
.acordeon{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
  }
  .card-acordeon{
    width: 70rem;
  }
  .accordion-button{
    /*font-weight: bolder;*/
    background-color: green;
  }
  .accordion-button:hover{
    background-color: var(--main-c);
  }
 section.two-column-section.form{
    background-color: green;
    padding: 1rem 0;
  }
  
  .form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1rem;
    border: 1.5px solid green;
    border-radius: var(--main-c);
  }
  
  .form textarea{
    min-height: 100px;
  }
  
  input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
  }
